* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}

header {
    height: 300px;
    background-image: url(../images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: 378% 100%;
    background-position: 53.5%;
    color: white;    
    text-align: center;
}

header h2 {
    padding-top: 25px; 
    padding-bottom: 25px;
    font-weight: 500;
}

#ip-input{
    width:86%;
    margin: auto;


}
header input {

    height: 58px;
    width: 75%;
    font-size: 18px;
    padding-left: 8%;
    outline: none;
    border: 0;
    border-radius: 20px 0px 0px 20px;

}
::placeholder {
    font-size: 13px;
}

header button {
    height: 58px;
    width: 17%;
    background-color: black;
    color: white;
    font-size: 18px;
    border: 0;
    border-radius: 0px 20px 20px 0px;
}

#info-board {
    display: flex;
    height: 295px;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 166px;
    left: 7% ;
    right:7% ;
}

#info-board > div:first-child {
    padding-top: 17px ;
}
#info-board > div:last-child{
    padding-bottom: 17px ;
}

.board-part {
    text-align: center;
}
 .board-part p{
    color: hsl(0, 0%, 59%);
    padding-bottom: 3px;
    font-size: 11PX;
    font-weight: 500;
    letter-spacing: 3px;
 }
 .board-part h2 {
    font-weight: 500;
 }

 #map {
    height: 100vh;
    z-index: -1;
 }
 