* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-size:1.125rem;
}

header {
    height: 300px;
    background-image: url(../images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: 378% 100%;
    background-position: 53.5%;
    color: white;    
    text-align: center;
}

header h2 {
    padding-top: 25px; 
    padding-bottom: 25px;
    font-weight: 500;
}

#ip-search {
    width:86%;
    margin: auto;
}

#ip-search input {
    height: 58px;
    width: 75%;
    font-size:1.125rem;
    cursor: pointer;
    padding-left: 8%;
    outline: none;
    border: 0;
    border-radius: 14px 0px 0px 14px;
}

::placeholder {
    font-size: 0.8125rem;
}

#ip-search button {
    height: 58px;
    width: 17%;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 1.125rem;
    border: 0;
    border-radius: 0px 14px 14px 0px;
}

#info-board {
    display: flex;
    height: 295px;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 166px;
    left: 7% ;
    right:7% ;
    z-index:2;
}

#info-board > div:first-child {
    padding-top: 17px ;
}
#info-board > div:last-child{
    padding-bottom: 17px ;
}

.board-part {
    text-align: center;
}
 .board-part p{
    color: hsl(0, 0%, 59%);
    padding-bottom: 3px;
    font-size: 0.6875rem;
    font-weight: 500;
    letter-spacing: 3px;
 }
 .board-part h2 {
    font-weight: 500;
    display: inline;
 }

 #map {
    height: 100vh;
    z-index: 1;
 }

 
 /* Media Query for Laptop and Desktop (Large screens included) */
 @media only screen and (min-width: 961px) {

    header {
        max-height: 279px;
        background-size: 100% 100%;
    }

    #ip-search {
        width: 38%;
        max-width: 41.0875rem;
    }

    #ip-search input {
        max-width: 85%;
        padding-left: 4%;
    }

    ::placeholder {
        font-size: 0.9375rem;
    }
    
    #ip-search button {
        width: 11%; 
    }

    #info-board { 
        flex-direction: row;
        align-items: baseline;
        margin-inline: auto;
        height: auto;
        max-width: 69.375rem;
        top: 199px;
        left: 12.23%;
        right: 12.23%;     
    }
    
    #info-board > div:first-child {
        padding-top: 0px;
    }

    #info-board > div:last-child{
        padding-bottom: 0px;
    }

    .board-part {
        text-align: left;
        align-self: stretch;
        width: 25%;
        margin-top: 35px;
        margin-left: 33px;
        margin-right: 33px;
        margin-bottom: 35px;
    }

    .right-bar {
        position:relative;
    }
        
    .right-bar::after {
        content: '';
        position: absolute;
        background-color: hsl(0, 0%, 85%);
        width:1px;
        height: 63%;
        top: 5px;
        left: -33px;  
    }

    .board-part p{
        padding-bottom: 18px;
        font-weight: 700;
        letter-spacing: 1px;
     }
     .board-part h2 {
        font-weight: 500;
        display: block;
     }

 }
